__pycache__/
.vscode/
.DS_Store
.env
.next
logs/
.vercel/
outputs/
*.ipynb
build/
log/
dist/
*.egg-info/
reply/
.pytest_cache/
cache/
*.so
.claude/
tree-sitter-languages/
tree-sitter-lib/
*.backup
pcre2-lib/
prompt_str.txt