# Core dependencies
adalflow
omegaconf
hydra-core
faiss-cpu
tqdm
openai
numpy
pathlib2
rank-bm25
numpy
chardet
json-repair

# used by huggingface_embedder_client.py, lazy install
# torch>=2.0.0
# sentence-transformers>=2.2.0

# used by tree-sitter based splitter, lazy install
# tree-sitter
# tree-sitter-python
# tree-sitter-javascript
# tree-sitter-java
# tree-sitter-cpp
# tree-sitter-go
# tree-sitter-rust
# tree-sitter-markdown
# tree-sitter-rst
# tree-sitter-yaml
# tree-sitter-json
